<%= render 'shared/navbar_app' %>
<%= render 'shared/navbar_mobile', locals: { profile: @profile } %>
<div id="show-profil">
  <div id="show-profil--informations">
    <div id="show-profil--informations--image">
      <div class="image-container">
        <% if @profile.profile_picture.attached?  %>
          <%= cl_image_tag @profile.profile_picture.key, class:"image-resize" %>
        <% else %>
          <%= image_tag 'logo.svg', class:"image-resize" %>
        <% end %>
      </div>
      <%= link_to "#", data: {toggle: "modal", target: "#addProfileChanges"} do %>
        <p class="label-name-capitalize"><%= @profile.name_capitalize %></p>
      <% end %>
      <div class="modal fade" id="addProfileChanges" tabindex="-1" role="dialog" aria-labelledby="addProfileChangesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><%= @profile.first_name.capitalize %>, voici ton profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= simple_form_for @profile, url: profile_path(@profile), method: :patch do |f| %>
              <div class="modal-body">
                <p>Ton prénom</p>
                <%= f.input :first_name, label:false, value: @profile.first_name %>
                <p>Ton nom de famille</p>
                <%= f.input :last_name, label:false, value: @profile.last_name %>
                <p>Ta photo de profile</p>
                <%= f.input :profile_picture, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Ajouter une photo'   %>
                <span><%= image_tag "", width: 100, height:100, class: 'hidden', id: "photo-preview" %></span>
              </div>
              <div class="modal-footer">
                <button type="button" class="button reverse-button" data-dismiss="modal">Fermer</button>
                <%= f.button :submit, "Modifier", class:"main-button button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="show-profil--informations--networks">
      <div class="networks-container">
        <% unless @networks.empty? %>
          <% @networks.each do |n| %>
          <%= link_to '#', id:"modal-#{n.social.name}", data: {toggle: 'modal', target:"##{n.social.name}ModalCenter" } do %>
            <%= image_tag "logo_#{n.social.name}.svg", class:"avatar-social"%>
            <p><%= n.social.name.capitalize %></p>
          <% end %>
          <div class="modal fade" id="<%= n.social.name %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= n.social.name %>ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= n.social.name %>ModalLongTitle"><%= n.social.header %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% if n.social.name == "contact" && !@vcard.nil? %>
                  <%= simple_form_for @vcard, url: vcard_path(@vcard),html: { id:"new_network_#{n.id}" }, method: :patch do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{n.social.name}.svg", class:"icon-social" %>
                      <div class="modal-body--inputs">
                        <%= f.input :phone_number, label: false, placeholder: "Téléphone professionnel" %>
                        <%= f.input :email, label: false, placeholder: "Email professionnel" %>
                        <%= f.input :address, label: false, placeholder: "Adresse professionnelle" %>
                      </div>
                    </div>
                    <p class="explanation"><%= n.social.explanation %></p>
                    <div class="modal-footer">
                      <%= link_to "Supprimer", vcard_path(@vcard), method: :delete, class:"button reverse-button" %>
                      <%= f.button :submit, "Modifier", class:"button main-button" %>
                    </div>
                  <% end %>
                <% else %>
                  <%= simple_form_for n, url: network_path(n),html: { id:"new_network_#{n.id}" }, method: :patch do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{n.social.name}.svg", class:"icon-social" %>
                      <%= f.input :username, input_html: { id:"network_username_#{n.id}"}, label:false %>
                    </div>
                    <p class="explanation"><%= n.social.explanation %></p>
                    <div class="modal-footer">
                      <%= link_to "Supprimer", network_path(n), method: :delete, class:"button reverse-button" %>
                      <%= f.button :submit, "Modifier", class:"button main-button" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <% @socials.each do |s| %>
          <%= link_to '#', id:"modal-#{s.name}", data: {toggle: 'modal', target:"##{s.name}ModalCenter" } do %>
            <% if !@networks&.select{ |n| n.social == s}.nil? && !@networks.select{ |n| n.social == s}.empty? %>
              <%= image_tag "logo_#{s.name}.svg", class:"avatar-social"%>
              <p><%= s.name.capitalize %></p>
            <% else %>
              <%= image_tag "logo_#{s.name}.svg", class:"avatar-social inactive"%>
              <p class="inactive"><%= s.name.capitalize %></p>
            <% end %>
          <% end %>
          <div class="modal fade" id="<%= s.name %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= s.name %>ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= s.name %>ModalLongTitle"><%= s.header %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% if s.name == "contact" %>
                  <%= simple_form_for @new_vcard, url: vcards_path(vcard:@new_vcard), html: { id:"new_network_vcard"}, method: :post do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{s.name}.svg", class:"icon-social" %>
                      <div class="modal-body--inputs">
                        <%= f.input :phone_number, label: false, placeholder: "Téléphone professionnel" %>
                        <%= f.input :email, label: false, placeholder: "Email professionnel" %>
                        <%= f.input :address, label: false, placeholder: "Adresse professionnelle" %>
                      </div>
                    </div>
                    <p class="explanation"><%= s.explanation %></p>
                    <div class="modal-footer">
                      <%= f.button :submit, "Ajouter", class:"button main-button" %>
                    </div>
                  <% end %>
                <% else %>
                  <%= simple_form_for @network, url: networks_path(profile: @profile, social: s), html: { id:"new_network_#{s.id}"}, method: :post do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{s.name}.svg", class:"icon-social" %>
                      <%= f.input :username, input_html: { id:"network_username_#{s.id}", class:"js-listen-input"}, placeholder: s.kind == "username" ? "Ton username" : "Le lien de ton profil" , label: false%>
                    </div>
                    <p class="explanation"><%= s.explanation %></p>
                    <div class="modal-footer">
                      <a href="" class="button-to-open button reverse-button" data-social="<%= s.name %>" data-url="<%= s.kind == "username" ? "#{s.url_desktop_begin}" : ""%>" target="_blank">Ouvrir</a>
                      <%= f.button :submit, "Ajouter", class:"button main-button" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
