<%= render 'shared/navbar_app' %>
<%= render 'shared/navbar_mobile', locals: { profile: @profile } %>
<div id="show-profil">
  <div id="show-profil--informations">
    <div id="show-profil--informations--user">
      <div class="image-container">
        <% if @profile.profile_picture.attached?  %>
          <%= cl_image_tag @profile.profile_picture.key, class:"image-resize #{"magnet-bought" if !@profile.magnet_profile.nil? }"  %>
        <% else %>
          <%= image_tag 'logo.svg', class:"image-resize #{"magnet-bought" if !@profile.magnet_profile.nil? }" %>
        <% end %>
        <% if @profile.magnet_profile.nil? %>
          <%= link_to "Acheter mon badge", purchase_path, class:"button orange-button" %>
        <% else %>
          <p><span>✅</span>Ton badge est activé</p>
        <% end %>
      </div>
      <div class="infos-container">
        <p>Bon retour parmi nous,</p>
        <h1 class=""><%= @profile.name_capitalize %></h1>
        <%= link_to "Modifier mon profil", "#", class:"button border-white-button", data: {toggle: "modal", target: "#addProfileChanges"} %>
      </div>
      <div class="modal fade" id="addProfileChanges" tabindex="-1" role="dialog" aria-labelledby="addProfileChangesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><%= @profile.first_name.capitalize %>, voici ton profil</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= simple_form_for @profile, url: profile_path(@profile), method: :patch do |f| %>
              <div class="modal-body">
                <p>Ton prénom</p>
                <%= f.input :first_name, label:false, value: @profile.first_name %>
                <p>Ton nom de famille</p>
                <%= f.input :last_name, label:false, value: @profile.last_name %>
                <%= f.input :profile_picture, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Ajouter une photo de profil'   %>
                <span style="margin: 0 auto;display: block;width: fit-content;"><%= image_tag "", width: 110, height:110, class: 'hidden avatar-bordered', id: "photo-preview" %></span>
              </div>
              <div class="modal-footer">
                <%= link_to "Fermer", "#", class:"button border-blue-button", data: {dismiss: "modal"} %>
                <%= f.button :submit, "Modifier", class:"main-button button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="show-profil--informations--networks">
      <% unless @profile.magnet_profile.nil? %>
        <%= link_to "Voir mon profil", magnet_profile_path(@profile.magnet_profile),class:"button orange-button" %>
      <% end %>
      <div class="networks-container">
        <% unless @networks.empty? %>
          <% @networks.each do |n| %>
          <%= link_to '#', id:"modal-#{n.social.name}", data: {toggle: 'modal', target:"##{n.social.name}ModalCenter" } do %>
            <%= image_tag "logo_#{n.social.name}.svg", class:"avatar-social"%>
            <p><%= n.social.name.capitalize %></p>
          <% end %>
          <div class="modal fade" id="<%= n.social.name %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= n.social.name %>ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= n.social.name %>ModalLongTitle"><%= n.social.header %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% if n.social.name == "contact" && !@vcard.nil? %>
                  <%= simple_form_for @vcard, url: vcard_path(@vcard),html: { id:"new_network_#{n.id}" }, method: :patch do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{n.social.name}.svg", class:"icon-social" %>
                      <div class="modal-body--inputs">
                        <%= f.input :phone_number, label: false, placeholder: "Téléphone professionnel" %>
                        <%= f.input :email, label: false, placeholder: "Email professionnel" %>
                        <%= f.input :address, label: false, placeholder: "Adresse professionnelle" %>
                      </div>
                    </div>
                    <p class="explanation"><%= n.social.explanation %></p>
                    <div class="modal-footer">
                      <%= link_to "Supprimer", vcard_path(@vcard), method: :delete, class:"button border-blue-button" %>
                      <%= f.button :submit, "Modifier", class:"button main-button" %>
                    </div>
                  <% end %>
                <% else %>
                  <%= simple_form_for n, url: network_path(n),html: { id:"new_network_#{n.id}" }, method: :patch do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{n.social.name}.svg", class:"icon-social" %>
                      <%= f.input :username, input_html: { id:"network_username_#{n.id}"}, label:false %>
                    </div>
                    <p class="explanation"><%= n.social.explanation %></p>
                    <div class="modal-footer">
                      <% if n.social.name == "text" || n.social.name == "whatsapp" %>
                      <% elsif n.social.name == "lien" %>
                        <a href="<%=n.username.include?("http")? "#{gsubSoundCloud(n.username)}" : "http://#{n.username}" %>" class="button-to-open button border-blue-button" data-social="<%= n.social.name %>" data-url="<%= n.social.kind == "username" ? "#{n.social.url_desktop_begin}" : ""%>" target="_blank">Ouvrir</a>
                      <% elsif n.social.name == "email" %>
                        <%= mail_to "#{n.username}", "Ouvrir", class:"button border-blue-button button-to-open", data: {social: "#{n.social.name}", url: "#{n.social.kind == "username" ? "#{n.social.url_desktop_begin}" : ""}"}, target:"_blank"%>
                      <% else %>
                        <a href="<%="#{n.social.url_desktop_begin}#{gsubSoundCloud(n.username)}" %>" class="button-to-open button border-blue-button" data-social="<%= n.social.name %>" data-url="<%= n.social.kind == "username" ? "#{n.social.url_desktop_begin}" : ""%>" target="_blank">Ouvrir</a>
                      <% end %>
                      <%= link_to "Supprimer", network_path(n), method: :delete, class:"button border-blue-button" %>
                      <%= f.button :submit, "Modifier", class:"button main-button" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <% @socials.each do |s| %>
          <%= link_to '#', id:"modal-#{s.name}", data: {toggle: 'modal', target:"##{s.name}ModalCenter" } do %>
            <% if !@networks&.select{ |n| n.social == s}.nil? && !@networks.select{ |n| n.social == s}.empty? %>
              <%= image_tag "logo_#{s.name}.svg", class:"avatar-social"%>
              <p><%= s.name.capitalize %></p>
            <% else %>
              <%= image_tag "logo_#{s.name}.svg", class:"avatar-social inactive"%>
              <p class="inactive"><%= s.name.capitalize %></p>
            <% end %>
          <% end %>
          <div class="modal fade" id="<%= s.name %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= s.name %>ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= s.name %>ModalLongTitle"><%= s.header %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% if s.name == "contact" %>
                  <%= simple_form_for @new_vcard, url: vcards_path(vcard:@new_vcard), html: { id:"new_network_vcard"}, method: :post do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{s.name}.svg", class:"icon-social" %>
                      <div class="modal-body--inputs">
                        <%= f.input :phone_number, label: false, placeholder: "Téléphone professionnel" %>
                        <%= f.input :email, label: false, placeholder: "Email professionnel" %>
                        <%= f.input :address, label: false, placeholder: "Adresse professionnelle" %>
                      </div>
                    </div>
                    <p class="explanation"><%= s.explanation %></p>
                    <div class="modal-footer">
                      <%= f.button :submit, "Ajouter", class:"button main-button" %>
                    </div>
                  <% end %>
                <% else %>
                  <%= simple_form_for @network, url: networks_path(profile: @profile, social: s), html: { id:"new_network_#{s.id}"}, method: :post do |f| %>
                    <div class="modal-body">
                      <%= image_tag "logo_#{s.name}.svg", class:"icon-social" %>
                      <%= f.input :username, input_html: { id:"network_username_#{s.id}", class:"js-listen-input"}, placeholder: s.kind == "username" ? "Ton username" : "Le lien de ton profil" , label: false%>
                    </div>
                    <p class="explanation"><%= s.explanation %></p>
                    <div class="modal-footer">
                      <% unless s.name == "text" || s.name == "whatsapp" %>
                        <a href="" class="button-to-open button border-blue-button" data-social="<%= s.name %>" data-url="<%= s.kind == "username" ? "#{s.url_desktop_begin}" : ""%>" target="_blank">Ouvrir</a>
                      <% end %>
                      <%= f.button :submit, "Ajouter", class:"button main-button" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
